# Havi COVID-esetszámok és az azitromicin illetve az inosin-prabonex


Korreláció keresése a havi COVID-esetszámok és az azitromicin, illetve az inozin-prabonex hatóanyagú gyógyszerek havi dobozforgalma között.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns', None)

In [47]:
df = pd.read_csv('covid-azi-inos.csv', delimiter=';')

In [48]:
df = df[6:]

In [50]:
df.describe()

               HONAP    azitromicin     COVID-eset  inosin_pranobex
count      23.000000      23.000000      23.000000        23.000000
mean   202119.478261  103375.351975   85188.782609      7513.753043
std        67.322068   50930.898614   88882.379369      4373.148121
min    202009.000000   37266.764000    1363.000000         0.000000
25%    202102.500000   59187.163665   18541.000000      5357.900000
50%    202108.000000   87504.967670   48860.000000      8079.020000
75%    202201.500000  149846.432300  134358.000000     10673.350000
max    202207.000000  208831.794000  296990.000000     13989.980000

In [63]:
df.head()

     HONAP   azitromicin  COVID-eset  inosin_pranobex
6   202009   54573.92834       20322             0.00
7   202010   61136.06333       48860             0.00
8   202011  102836.89730      141801         11143.32
9   202012   86133.66133      105392             0.00
10  202101   57238.26400       45072          7308.22

In [56]:
col1, col2 = "COVID-eset", "azitromicin"

In [60]:
print(df[col1].corr(df[col2]))

0.7588359354114343

In [61]:
col1, col2 = "COVID-eset", "inosin_pranobex"

In [62]:
print(df[col1].corr(df[col2]))

0.6380844601832114